<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="com/yedam/common/db.properties"></properties>
  <settings>
  	<setting name="mapUnderscoreToCamelCase" value="true" />
  	<setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  <typeAliases>
  <typeAlias alias="book" type="com.yedam.book.domain.BookVO" />
  <typeAlias alias="user" type="com.yedam.user.domain.UserVO" />
  <typeAlias alias="order" type="com.yedam.order.domain.OrderVO" />
  <typeAlias alias="review" type="com.yedam.review.domain.ReviewVO" />
  <typeAlias alias="coupon" type="com.yedam.review.domain.CouponVO" />
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="com/yedam/book/mapper/BookMapper.xml" />
  	<mapper resource="com/yedam/user/mapper/UserMapper.xml" />
  	<mapper resource="com/yedam/order/mapper/OrderMapper.xml" />
  	<mapper resource="com/yedam/review/mapper/ReviewMapper.xml" />
  	<mapper resource="com/yedam/coupon/mapper/CouponMapper.xml" />
  </mappers>
</configuration>