<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.basket.mapper.BasketMapper">
	<select id="selectBasket" parameterType="String">
		select k.basket_id,k.user_id,k.isbn,b.book_price,b.book_name,b.cover,k.basket_count
		from baskets k join books b
		on k.isbn=b.isbn
		where k.user_id = #{userId}
	</select>
	<insert id="insertBasket" parameterType="basket">
		insert into baskets values (basket_seq.NEXTVAL , #{userId},#{isbn},#{basketCount})
	</insert>
</mapper>