<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.order.mapper.OrderMapper">
	<select id="selectOrderUserId" resultType="order">
	<![CDATA[
		select rownum rn, b.*
		FROM (	SELECT rownum rn, a.*
      		  	FROM (
						select book,o.*
						from(
        						select a.order_id, min(book_name) ||' 외'|| min(counts)||'권' AS book
        						from(select h.order_id, b.book_name ,b.isbn
             						 from historys h JOIN books b
            						 ON (h.isbn=b.isbn))a 
        						join (select order_id, sum(history_count) counts
              						  from historys
            						  group by order_id) h
        						on(a.order_id =h.order_id)
        					    group by a.order_id) b
						join orders o
						on( b.order_id =o.order_id)
						where o.user_id=#{userId}
						ORDER BY ORDER_DATE DESC) a
				WHERE rownum <= #{page}*10) b
    	WHERE b.rn > (#{page}-1)*10
	]]>
	</select>
	<select id="selectOrderOrderId" resultType="order">
		select o.*,c.book
		,c.num, c.book_price,c.cover
		FROM (select h.order_id, b.book_name
		book,h.history_count num
		,b.book_price,b.isbn,b.cover
		from historys h
		JOIN books b
		ON (h.isbn=b.isbn))c join orders o
		ON(o.order_id=c.order_id)
		WHERE o.order_id=#{orderId}
	</select>
	<select id="getCount">
		select count(*)
		from orders
		WHERE user_id=#{userId}
	</select>
	<update id="cancelUpdate">
		update orders set order_state='취소' where
		order_id=#{orderId}
	</update>
	<update id="adrUpdate">
		update orders set order_name=#{orderName}
		,order_post=#{orderPost}
		,order_address=#{orderAddress}
		,order_phone=#{orderPhone}
		where order_id=#{orderId}
	</update>
</mapper>