<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.book.mapper.BookMapper">
<!-- private int isbn;
	private String bookName;
	private int bookPrice;
	private String author;
	private String publisher;
	private String bookCategory;
	private String bookDetail;
	private int bookCount;//판매량
	private int hitCount;//조회수
	private int bookStock;
	private String cover; -->
	<insert id="addbook" parameterType="book">
		insert into books values (#{isbn},#{bookName},#{bookPrice},#{author},#{publisher},#{bookCategory},#{bookDetail},#{bookCount},#{hitCount},#{bookStock},#{cover},#{pubDate})
	</insert>
	<select id="searchbook" resultType="book">
		select book_name, author, publisher, book_price, cover
		from books where book_category LIKE #{bookCategory}
	</select>
	<select id="categoryBookList" resultType="book">
		<![CDATA[
		select b.* 
		from(select rownum rn, a.*
			from (select * from books where book_category LIKE #{bookCategory}||'%'
				order by 1 desc) a
			where rownum <= #{page}*10) b
		where b.rn > (#{page} - 1)*10
		]]>
	</select>
	<select id="searchBookList" resultType="book">
		<![CDATA[
		select b.* 
		from(select rownum rn, a.*
			from (select * from books where book_category LIKE #{bookCategory}||'%'
				and book_name like '%'||#{search}||'%' order by 1 desc) a
			where rownum <= #{page}*10) b
		where b.rn > (#{page} - 1)*10
		]]>
	</select>
	<select id="getpageCount" resultType="int">
		select count(*) from books where book_category LIKE #{bookCategory}||'%'
	</select>
	<select id="getSearchPageCount" resultType="int">
		select count(*) from books where book_category LIKE #{bookCategory}||'%' and book_name like '%'||#{search}||'%'
	</select>
	<select id="mainRecommand" parameterType="String" resultType="book">
	<![CDATA[
		select rownum,a.*
		from (select * 
		from books
		where book_category like #{string}
		and book_name not like '%CD%'
		order by hitcount desc) a
		where rownum <6
		]]>
	</select>
	<!-- 조회수 많은 책들을 가져옴 -->
	<select id="newList" resultType="book">
	<![CDATA[
		select rownum,a.* from books a
		where rownum < 8
		and book_name not like '%CD%'
		order by hitcount desc
		]]>
	</select>
	<!-- 최근 발간일 책들 7권 가져옴 -->
	<select id="getNewBookList" resultType="book">
	<![CDATA[
		select b.book_name,b.cover,b.isbn
		from 
		(select rownum rn,a.*
		from (select *
	         from books
	         where book_category like '국내%'
	         order by pub_date desc)a ) b
		where rn <8
	]]>
	</select>
	<select id="bestSeller" resultType="book">
		select b.order_id ,c.*, b.isbn, b.history_count*c.book_price total_price,a.order_date
		from orders a join historys b
		on a.order_id = b.order_id
		join books c on b.isbn = c.isbn
		where order_date between #{monthFirst} and #{monthLast}
		order by total_price desc
	</select>
	<select id="bestSellerSearchPage" resultType="book">
	<![CDATA[
		select e.* 
		from(select rownum rn, d.*
     		from (select b.order_id ,c.*, b.history_count*c.book_price total_price,a.order_date
            from orders a join historys b
            on a.order_id = b.order_id
            join books c on b.isbn = c.isbn
            where order_date between #{monthFirst} and #{monthLast}
            order by total_price desc) d
     		where rownum <=#{page}*10) e
		where e.rn > (#{page}- 1)*10
		]]>
	</select>
	<select id="bestSellerCount" resultType="int">
	<![CDATA[
		select count(*) 
	from(select rownum rn, d.*
     	 from (select b.order_id ,c.*, b.history_count*c.book_price total_price,a.order_date
	           from orders a join historys b
	           on a.order_id = b.order_id
	           join books c on b.isbn = c.isbn
	           where order_date between #{monthFirst} and #{monthLast}
	           order by total_price desc) d
     	   where rownum <=#{page}*10) e
	where e.rn > (#{page} - 1)*10
	]]>
	</select>
	<select id="isbnCallOneBook" resultType="book">
		select * from books where isbn=#{isbn}
	</select>
	<!-- 화제의책 페이지 가져오기 -->
	<select id="hitCountSearchPage" resultType="book">
		<![CDATA[
		select e.*
		from(select rownum rn, d.*
		    from (select a.*
			from books a join historys b
			on a.isbn = b.isbn
			join orders c on b.order_id = c.order_id
			where order_date between #{monthFirst} and #{monthLast}
			order by hitcount desc) d
		    where rownum <= #{page}*10) e
			where e.rn > (#{page}-1)*10
		]]>
	</select>
	<select id="hitCountCount" resultType="int">
	<![CDATA[
		select count(*) 
		from(select rownum rn, d.*
		     from (select a.*
			from books a join historys b
			on a.isbn = b.isbn
			join orders c on b.order_id = c.order_id
			where order_date between #{monthFirst} and #{monthLast}
			order by hitcount desc) d
		     where rownum <= #{page} *10) e
		where e.rn > (#{page} - 1)*10
]]>
	</select>
	<select id="newBookSearchPage" resultType="book">
	<![CDATA[
		select e.* 
		from(select rownum rn, d.*
     		from (select *
			from books 
			where pub_date between #{monthFirst} and #{monthLast}
			order by pub_date desc) d
     		where rownum <=#{page}*10) e
			where e.rn > (#{page}- 1)*10
		]]>
	</select>
	<select id="newBookCount" resultType="int">
		select count(*)
		from books 
		where pub_date between #{monthFirst} and #{monthLast}
		order by pub_date desc
	</select>
</mapper>