<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.user.mapper.UserMapper">
	<select id="selectUser" resultType="user" parameterType="user">
		select * from users where user_id=#{userId} AND user_pw=#{userPw}
	</select>
	<insert id="insertUser" parameterType="user">
		insert into users (user_id,user_pw,nickname, user_address,user_post,
		user_gender,user_phone,user_category,user_email)
		values(#{userId},#{userPw},#{nickname},#{userAddress},#{userPost},
		#{userGender},#{userPhone},#{userCategory},#{userEmail})
	</insert>
	<update id="nickUpdate">
		update users set nickname=#{nickname} Where user_id=#{userId}
	</update>
	<update id="adrUpdate">
		update users set address=#{address}, post=#{post} Where user_id=#{userId}
	</update>
	<update id="pwUpdate">
		update users set pw=#{pw} Where user_id=#{userId}
	</update>
</mapper>