<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.board.mapper.BoardMapper">
	<select id="searchBoard2" resultType="board">
		<![CDATA[
		select b.*
		from (select rownum rn,a.*
		from(select * from Boards where
		user_id=#{userId} and board_kind=2)a
		where rownum <= #{page}*10) b
		where rn >(#{page}-1)*10
		]]>
	</select>
	<select id="borad2Count">
		select count(*) from boards where board_kind=2 and user_id=#{userId}
	</select>
	<insert id="insertBoard2">
		insert into boards
		values(board_seq.nextval,#{userId},2,#{boardTitle},#{boardSubject},#{boardFile},sysdate,'N')
	</insert>
	<select id="announcePaging" resultType="board">
	<![CDATA[
		select b.*
		from (select rownum rn,a.*
		from(select * from Boards where board_kind=1
		order by board_id desc )a
		where rownum <= #{page}*10) b
		where rn >(#{page}-1)*10
	]]>
	</select>
	<select id="board1Count" >
		select count(*)
		from boards
		where board_kind = 1
	</select>
	<delete id="deleteAnno" >
		delete from boards where board_id = #{boardId}
	</delete>
	<select id ="selectBoard1" resultType="board">
		select * from boards where board_kind = 1 and board_id =#{boardId}
	</select>
</mapper>